<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logger</key>
	<dict>
		<key>level</key>
		<string>DEBUG</string>
	</dict>
	<key>common</key>
	<dict>
		<key>exception</key>
		<dict>
			<key>handleType</key>
			<integer>7</integer>
			<key>logFile</key>
			<string>exception.log</string>
			<key>logSize</key>
			<real>1024000</real>
			<key>mailto</key>
			<string>zhao_zhiguo@huateng.com</string>
		</dict>
		<key>errorFile</key>
		<string>errors.plist</string>
	</dict>
	<key>fsclient</key>
	<dict>
		<key>type</key>
		<string>HTHttpClient</string>
		<key>serializer</key>
		<string></string>
		<key>security</key>
		<string></string>
		<key>http</key>
		<dict>
			<key>url</key>
			<string>http://192.168.20.70:81/TEST/001</string>
			<key>timeout</key>
			<integer>30</integer>
			<key>contentKey</key>
			<string>envelop</string>
		</dict>
		<key>socket</key>
		<dict/>
	</dict>
	<key>rsa</key>
	<dict>
		<key>publicKey</key>
		<string>public_key.der</string>
		<key>privateKey</key>
		<string>private_key.p12</string>
		<key>password</key>
		<string>27ECBC5EF639D21AEA4EDBF882684FA4</string>
	</dict>
	<key>rules</key>
	<dict>
		<key>email</key>
		<dict>
			<key>message</key>
			<string>邮箱格式不正确！-%@</string>
			<key>regex</key>
			<string>\b([a-zA-Z0-9%_.+\-]+)@([a-zA-Z0-9.\-]+?\.[a-zA-Z]{2,6})\b</string>
		</dict>
	</dict>
	<key>sqlite3</key>
	<dict>
		<key>waitTimeout</key>
		<integer>3000000</integer>
		<key>defaultFilename</key>
		<string>ht_sqlite.db</string>
	</dict>
</dict>
</plist>
